@import url(globals.css);

body{
    background-image: url('assets/crew/background-crew-desktop.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-crew{
    display: flex;
    color: white;
}
.left-column-crew{
    flex: 1;
    padding-left: 12%;
}
.title-crew{
    margin: 4% 12%;
    
}
.role{
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5042;
}
.role{
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
}


/* --------------- */

.dots-navbar{
    margin-top: 15%;
}
.dots-navbar li{
    list-style: none;
    margin-right: 15px;
}
ul{
    display: flex;
}
.dots-navbar a {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin: 20px 0;
    text-indent: -999px;
    overflow: hidden;
    position: relative;
  }

 
.dots-navbar a::after {
    content:"";
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: height 0.3s ease;
  }

.dots-navbar a:hover::after,
.dots-navbar a.active::after {
   height: 100%;
}

/* --------------- */

.right-column-crew{
    flex: 1;
}

.right-column-crew img{
    height: 550px;
    flex-shrink: 0;
} 

/* style for tablet */
@media (max-width: 767px) {
    body{
        background-image: url('assets/crew/background-crew-tablet.jpg');
    }
    .main-crew{
        flex-direction: column;
    }
    .left-column-crew{
        padding-left: 0;
    }
    .title-crew{
        margin: 5%;
    }
    .title-crew span{
        font-size: 24px;
        font-weight: 700; 
    }
    .title-crew h1{
        font-size: 22px;
        letter-spacing: 3.3px;
    }
    .role{
        font-size: 24px;
        text-align: center;
    }
    .left-column-crew h1{
        font-size: 40px;
        text-align: center;
    }
    .description{
        width: 458px;
        margin: auto;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .dots-navbar{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .right-column-crew{
        padding: 0;
        text-align: center;
    }
    .right-column-crew img{
        height: 450px;
    }
    
}

/* style for mobile */
@media screen and (max-width: 375px){
    body{
        background-image: url('assets/crew/background-crew-mobile.jpg');
    }
    .title-crew{
        text-align: center;
    }
    .main-crew{
        flex-direction: column-reverse;
    }
    .right-column-crew{
        border-bottom: 2px solid #383B4B;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .right-column-crew img{
        height: 250px;
        margin-bottom: -3px;
    }
    .left-column-crew{
        display: flex;
        flex-direction: column-reverse;
    }
    .subtitle{
        font-size: 20px;
    }
    .left-column-crew h1{
        font-size: 30px;
    }
    .crew-description{
        width: 300px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    .description{
        width: 100%;
    }
}