body{
    background-image: url('assets/home/background-home-desktop.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.content{
    display: flex;
    height: 90%;
    color: white;
}
.left-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10%;
    padding-top: 10%;
}
.left-column h5{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.left-column h1{
    color: #FFF;
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
    text-indent: 10px;
    text-transform: uppercase;
}
.left-column p{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 444px;
    text-align: justify;
}
.right-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
    padding-right: 15%;
    padding-bottom: 10%;
}
.explore{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
}
.explore a{
    color: #0B0D17;
    font-family: 'Bellefair', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 200px;
    letter-spacing: 2px;
    text-decoration: none;
}
.explore:hover{
    box-shadow: rgba(0,0,0,0.3) 0 0 3px 50px;
    transition: box-shadow 0.6s ease-in-out;
}


/* style for tablet */
@media (max-width: 767px) {
    body{
        background-image: url('assets/home/background-home-tablet.jpg');
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .left-column{
        width: 100%;
        align-items: center;
        padding-left: 0;
    }
    .left-column h5{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 3.375px;
    }
    .left-column h1{
        text-indent: 0%;
        line-height: 150px;
    }
    .left-column p{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .right-column{
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}